.tasks_creator {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #99999981;
    backdrop-filter: blur(5px);
    z-index: 100;
    transition: all .4s ease-out;
    display: flex;
    align-items: start;
    justify-content: center;

    .tasks_creator_container {
        height: fit-content;
        width: 80vw;
        background-color: #feeed5;
        border-radius: 5px;
        box-shadow: 0px 0px 20px 1px #999;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        transition: all .4s ease-out;
        will-change: all;

        .tasks_creator_title {
            width: 100%;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid #555;
            background-color: #f5732f;

            h1 {
                font-family: 'CascadiaCode';
                font-weight: 900;
                font-size: clamp(20px, 7vw, 32px);
                color: #feeed5;
            }
        }

        .tasks_creator_form {
            flex: 1;
            padding: 1rem;
            box-sizing: border-box;

            .tasks_creator_form_inputs_container {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .tasks_creator_form_input {
                    width: 100%;
                    outline: none;
                    border: none;
                    padding: 1rem;
                    box-sizing: border-box;
                    background-color: #fff;
                    border-radius: 5px;
                    border: 2px solid #555;

                    font-family: 'CascadiaCode';
                    font-weight: 900;
                    font-size: 4vw;
                }

                .tasks_creator_form_btn {
                    margin-top: 1rem;
                    width: 100%;
                    padding: 1rem 0;
                    border: 0;
                    outline: 0;
                    background-color: #f5732f;
                    border-radius: 5px;
                    transition: all .1s ease-out;
                    will-change: transform;

                    &:active {
                        transform: scale(0.98);
                    }

                    h3 {
                        font-family: 'CascadiaCode';
                        font-weight: 900;
                        font-size: clamp(20px, 5vw, 25px);
                        color: #feeed5;
                    }
                }
            }
        }
    }
}